#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  margin-top: 0;
  padding: 2rem;
}

.app > h1 {
  font-size: 2em;
  line-height: 1.1;
}
